@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;1,200&family=Audiowide&family=Castoro:ital@0;1&family=Changa:wght@500&display=swap');
/* variables*/
:root{
    --archivo: 'Archivo', sans-serif;
--audiowide: 'Audiowide', cursive;
--castoro: 'Castoro', serif;
--chango: 'Changa', sans-serif;
--dark-color :#151515;
--bleu-color :#3C4CAD; 
--dark-bleu-color :#240E8B;
--pinq-color :#F04393;
--trans : all 0.3s ease-in-out;
} 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
}
html{
     font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-family: var(--archivo);
    background-color: var(--dark-color);
    color: white;

}
ul{
    list-style: none;
}
img{

    width: 100%;
    display: block;

}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding:0 2rem;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    background-color: var(--dark-color);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 5px solid var(--bleu-color);
}
.navbar .container{
    justify-content: space-between;
}
/* logo*/
.navbar-brand{
    font-family: var(--audiowide);
    font-size: 4rem;
    color:var(--pinq-color)
}
.navbar-brand span{
    color: var(--bleu-color);
}
.navbar-collapse, .search-form{
    /*display: none*/
}
.navbar-toggler-open, .navbar-toggler-close{
    font-size: 2.8rem;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    transform: var(--trans);
}
.navbar-toggler-open, .navbar-toggler-close:hover{
    opacity: 0.8;
}
.navbar-collapse{
    position: fixed;
    right :0;
    top: 0;
    width: 345px;
    background-color: var(--bleu-color);
    height: 100%;
    padding: 2rem 2rem 3rem;
    z-index: 999;
    transition: var(--trans);

}
.navbar-toggler-close{
    position: absolute;
    right: 2rem;
    top: 2rem;
}
.navbar-nav{
    margin-top: 5rem;
}
.nav-item{
    margin: 2.4rem;
    text-align: left;
    font-family: var(--castoro);
}
.nav-link{
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    transform: var(--trans);
}
.nav-link:hover{
    color: var(--pinq-color);
}
.nav-item-dropdown{
    margin-left: 0.7rem;
    cursor: pointer;
    transform: var(--trans);
}
.nav-item-dropdown-content{
    max-height: 0;
    overflow: hidd;
}
.nav-item-dropdown-content li{
    margin-bottom: 1rem;

}
.nav-item-dropdown-content li a{
    color: white;
    opacity: 0.8;
    letter-spacing: 1px;
    font-weight: 300;
    transition: var(--trans);
    
}
.nav-item-dropdown-content li a:hover{
    opacity: 2;
   
}
.show-dropdown{
    max-height: 1000px;
    margin: 1rem 0;
}