@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;1,200&family=Audiowide&family=Castoro:ital@0;1&family=Changa:wght@500&display=swap');
/* variables*/
:root{
    --archivo: 'Archivo', sans-serif;
--audiowide: 'Audiowide', cursive;
--castoro: 'Castoro', serif;
--chango: 'Changa', sans-serif;
--dark-color :#1a1919;
--bleu-color :#3C4CAD; 
--pinq-color :#ab2ae7;
--trans : all 0.3s ease-in-out;
} 
::-webkit-scrollbar{
    display: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
}
html{
     font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-family: var(--castoro);
    background-color: var(--dark-color);
    color: white;

}
ul{
    list-style: none;
}
img{

    width: 100%;
    display: block;

}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding:0 2rem;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    background-color: var(--dark-color);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 5px solid var(--bleu-color);
}
.navbar .container{
    justify-content: space-between;
}
/* logo*/
.navbar-brand{
    font-family: var(--audiowide);
    font-size: 4rem;
    color:var(--pinq-color)
}

.navbar-brand span{
    color: var(--bleu-color);
}


/*icon*/.search-form{
     display: none;
}
.navbar-toggler-open, .navbar-toggler-close{
    font-size: 2.8rem;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    transform: var(--trans);
}
.navbar-toggler-open:hover, .navbar-toggler-close:hover{
    opacity: 0.8;
    
}
.navbar-collapse{
    position: fixed;
    right :-345px;
    top: 0;
    width: 345px;
    background-color: var(--bleu-color);
    height: 100%;
    padding: 2rem 2rem 3rem;
    z-index: 999;
    transition: var(--trans);

}
.navbar-toggler-close{
    position: absolute;
    right: 2rem;
    top: 2rem;
}
.navbar-nav{
    margin-top: 5rem;
}
.nav-item{
    margin: 2.4rem;
    text-align: left;
    font-family: var(--archivo);
}
.nav-link{
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    transform: var(--trans);
    
}
.nav-link:hover  {
    color: var(--pinq-color);
}
.nav-item-dropdown{
    margin-left: 0.7rem;
    cursor: pointer;
    transform: var(--trans);
}
.nav-item-dropdown:hover{
    color: var(--pinq-color);
}

.nav-item-dropdown-content{
    max-height: 0;
    overflow: hidden;
}
.nav-item-dropdown-content li{
    margin-bottom: 1rem;

}
.nav-item-dropdown-content li a{
    margin-left: 30px;

    color: rgb(168, 153, 248);
    opacity: 0.8;
    letter-spacing: 1px;
    font-weight: 300;
    transition: var(--trans);
    
}
.nav-item-dropdown-content li a:hover{
    opacity: 1;
    color: rgb(253, 249, 249);
    text-shadow: 30px rgb(253, 249, 249);
   
}
/*nav item drop show class*/
.show-dropdown{
    max-height: 1000px;
    margin: 1rem 0;
}
.show-navbar{
    right: 0;
  
}
/* home*/

.Hom{
    margin-top: 19rem;
    

}
/*FEATURED & RECOMMENDED*/
.title{
    background-color: var(--bleu-color);
    padding: 1rem 0;
    color: #fff;
   
}
.title h2{
    font-family:var(--archivo);
    margin: 0;
}

article{
    margin: 2rem 0;
}
.item-img{
    position: relative;
    height: 380px;
    overflow: hidden;
}
.item-img img{
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
}
.item-img span{
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    border-radius: 3px;
    padding: 1rem 1.5rem;
    background-color:var(--pinq-color);
    color: #fff;
}
.item-text{
    padding: 2rem 0;
    font-family: var(--chango);
}
.h1{
    font-size: 2.2rem;
    color: #fff;
    display: block;
    margin-bottom: 1.6rem;
    line-height: 1.3;
    letter-spacing: 1px;
}
.item-text a span{
    background-color: var(--pinq-color);
}
.item-text a{
    
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.item-text a:hover{
    opacity: 0.8;
}
.category{
    font-family: var(--oswald);
    font-size: 1.6rem;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.4rem 0.8rem;
    background-color: var(--red-color);
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: .2rem;
}
.item-text .date{
    opacity: 0.5;
    margin-top: 1.5rem;
    letter-spacing: 1px;
}
/* promo */
#promo{
    margin-top: 2rem;
    min-height: 100vh;
    margin-bottom: 2rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3))), url(imag.pr/elden-ring-limgrave-vista.jpg) center/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(imag.pr/elden-ring-limgrave-vista.jpg) center/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(imag.pr/elden-ring-limgrave-vista.jpg) center/cover no-repeat;
    text-align: center;
    -webkit-animation: backgroundChange 10s infinite;
            animation: backgroundChange 10s infinite;
}

@-webkit-keyframes backgroundChange{
    0%, 100%{
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3))), url(imag.pr/elden-ring-limgrave-vista.jpg) center/cover no-repeat;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(imag.pr/elden-ring-limgrave-vista.jpg) center/cover no-repeat;
    }
    33%{
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3))), url(imag.pr/elden-ring-new-header-mobile.jpg) center/cover no-repeat;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(imag.pr/elden-ring-new-header-mobile.jpg) center/cover no-repeat;
    }
    66%{
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3))), url(imag.pr/ELDEN\ RING.jpg) center/cover no-repeat;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(imag.pr/ELDEN\ RING.jpg) center/cover no-repeat;
    }
}

@keyframes backgroundChange{
    0%, 100%{
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3))), url(imag.pr/elden-ring-limgrave-vista.jpg) center/cover no-repeat;
        background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(imag.pr/elden-ring-limgrave-vista.jpg) center/cover no-repeat;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(imag.pr/elden-ring-limgrave-vista.jpg) center/cover no-repeat;
    }
    33%{
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3))), url(imag.pr/elden-ring-new-header-mobile.jpg) center/cover no-repeat;
        background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(imag.pr/elden-ring-new-header-mobile.jpg) center/cover no-repeat;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(imag.pr/elden-ring-new-header-mobile.jpg) center/cover no-repeat;
    }
    66%{
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3))), url(imag.pr/ELDEN\ RING.jpg) center/cover no-repeat;
        background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(imag.pr/ELDEN\ RING.jpg) center/cover no-repeat;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(imag.pr/ELDEN\ RING.jpg) center/cover no-repeat;
    }
}

#promo span{
    text-transform: uppercase;
    font-family: var(--chango);
    font-size: 3rem;
}
#promo h2{
    font-size: 4rem;
    letter-spacing: 2px;
    font-family: var(--audiowide);
    margin-top: 2rem;
}
#promo .text{
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.8rem;
}
#promo .btn-groups{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2rem;
}
#promo .icond{
    font-family: var(--chango);
}
#promo .btn-groups a{
    
    margin: 1rem;
    background-color: var(--pinq-color);
    border-radius: .3rem;
    color: #fff;
    padding: 1.4rem 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
#promo .btn-groups a:hover{
    background-color: var(--pinq-color);
}
/* videos section */
#videos .title{
    background-color: var(--bleu-color);
}
#videos article{
    border-bottom: 2px solid var(--bleu-color);
}
#videos .item-video video{
    width: 100%;
    border-radius: .4rem;
}

#videos .category{
    background-color: var(--pinq-color);
}
.container >h3{
    font-family: var(--chango);
}
/*header section */


.containercaret{
    
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 12rem;
    
 
    
}

.containercaret .card{
    position: relative;
    cursor: pointer;
}

.containercaret .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.containercaret .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.containercaret .card:hover .face.face1{
    background: #1595ac;
    transform: translateY(0);
}

.containercaret .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.containercaret .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.containercaret .card .face.face1 .content h3{
    margin: 20px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.containercaret .card .face.face2{
    position: relative;
    background: linear-gradient(#1595ac, #619ca7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    
    transform: translateY(-100px);
}

.containercaret .card:hover .face.face2{
    transform: translateY(0);
}

.containercaret .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.containercaret .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.containercaret .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}
/**/
.dHom{
    
}

/**/
.hide{
    display: none;
}
/*community login*/
.community * {
   
    box-sizing: border-box;
    
    
}
.community  body {
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    height: 100vh;
    overflow:  hidden;
    margin: 0;
    

}

.community-conection{
    background-color: #333;
    padding:20px 40px ;
    border-radius: 5px;
    margin-top: 20rem;
    margin-right: 50rem;
    margin-left: 50rem;
    display: none;
    
}
.community-conection h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: var(--audiowide);
    color: #ecd3f8;
}

.community-conection a{
    text-decoration: none;
    color: lightblue;
}
.Form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}
.Form-control input{
    background-color: transparent;
    border: 0;
    
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding:15px 0;
    font-size: 18px;
    color: rgb(228, 220, 220);
    font-family: var(--chango);

    
}
.Form-control label{
    font-family: var(--castoro);
    position: absolute;
    top: 15px;
    left: 0;
    
}
.Form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3 cubic-bezier(0.68,0.55,0.265,1.55);
}
.Form-control input:focus + label span,
.Form-control input:valid +label span{
    color: rgb(225, 220, 230);
    transform: translateY(-30px);

}


.Form-control input:focus ,.Form-control input:valid{
    outline:0;

}
.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #5c6bcc;
    padding: 15px;
    font-family: var(--audiowide);
    font-size: 18px;
    border: 0;
    border-radius: 5px;
}
.btn:first{
    outline: 0
}
.btn:active{
    transform: scale(0.98);
}
.text{
    margin-top: 30px;
    font-family: var(--chango);
}

/*community-verify*/
/**//**//**/



.community-verify{
    
    background-color: #333;
    padding:20px 40px ;
    border-radius: 5px;
    margin-top: 16rem;
    margin-right: 50rem;
    margin-left: 50rem;
    border: 3px  var(--pinq-color) solid;
    padding: 100px;
    text-align: center;
    display: none;
}
.community-verify h3{
    
    text-align: center;
    margin-bottom: 30px;
    font-family: var(--audiowide);
    color: #ecd3f8;
}

.code-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.code{
    
    border-radius: 5px;
    font-size: 75px;
    height: 120px;
    width: 70px;
    border: 1px solid #333;
    margin: 1%;
    text-align: center;
    font-weight: 300;
    -moz-appearance: textfield;

}
.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#emailps{
    color: var(--pinq-color);
}
.info{
    background-color: #eee;
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    max-width: 400px;
    color: #1a1919;
    border-radius: 5px;
}
/* footer */
#footer{
    background-color: #000;
    padding: 4rem 0;
    text-align: center;
}
#footer a{
    color: #fff;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
#footer a:hover{
    color: var(--pinq-color);
}
.footer-links-1 ul, .footer-links-2 ul{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.footer-links-1 {
    margin: 1.5rem 0;
}
.footer-links-1 h2{
    font-family: var(--audiowide)
}
.footer-links-1 ul li{
    margin: 1rem;
}
.footer-links-1 ul li a{
    font-size: 2.4rem;
}
.footer-links-2{
    margin-bottom: 2rem;
}
.footer-links-2 ul li{
    padding: 0 1rem;
    margin: 1rem 0;
    border-right: 1px solid #fff;
}
#footer .text{
    font-size: 1.3rem;
}
/*stcy*/
/**/
/* media qeries */
@media(min-width: 768px){
    /* news & reviews */
    #news article, #reviews article{
        display: grid;
        grid-template-columns: 2fr 3fr;
        -webkit-column-gap: 2rem;
           -moz-column-gap: 2rem;
                column-gap: 2rem;
    }
    #news article .item-img, #reviews article .item-img{
        height: 260px;
    }
    /* popular news */
    #news .news-popular article .item-img{
        height: 160px;
    }
    #news .news-popular .popular-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 4rem;
           -moz-column-gap: 4rem;
                column-gap: 4rem;
    }
    #news .news-popular .popular-list article:first-child, #news .news-popular .popular-list article:last-child{
        margin-top: 0;
    }
     /* videos */
     #videos .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 4rem;
           -moz-column-gap: 4rem;
                column-gap: 4rem;
    }
}
@media(min-width: 1200px){
     /* news  */
    #news .container{
        display: grid;
        grid-template-columns: auto 400px;
        -webkit-column-gap: 4rem;
           -moz-column-gap: 4rem;
                column-gap: 4rem;
    }
    /* news popular */
    #news .news-popular .popular-list{
        grid-template-columns: repeat(1, 1fr);
        -webkit-column-gap: 0;
           -moz-column-gap: 0;
                column-gap: 0;
    }
    /* video section */
    #videos .container{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width: 992px ){
    .navbar-toggler-close ,.navbar-toggler-open{
        display:  none;
    }
    .navbar-collapse{
        width: 100%;
        right: 0;
        position: relative;
        background-color: transparent;
        padding: 0;
    }
    .navbar-nav{
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    .nav-item{
        position: relative;
        margin-top: 0 2.4rem 0 0;
    }
    .nav-item-dropdown-content{
        position: absolute;
        top: 100%;
        
        right: 0;
        background-color: var(--bleu-color);
        z-index: 10;
        border-radius: 1.5rem;
    }
    .nav-item-dropdown-content li a{
        opacity: 1;
    }
    .nav-item-dropdown-content li a:hover{
        opacity: 0.8;
    }
    /*nav item dropdown show class*/
    .show-dropdown{
        padding: 2rem;
    }
    /*---dive hom----*/
    
    




    /*---*/
    
    





    /**/
    
}
