@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;1,200&family=Audiowide&family=Castoro:ital@0;1&family=Changa:wght@500&display=swap');
/* variables*/
:root{
    --archivo: 'Archivo', sans-serif;
--audiowide: 'Audiowide', cursive;
--castoro: 'Castoro', serif;
--chango: 'Changa', sans-serif;
--dark-color :#1a1919;
--bleu-color :#3C4CAD; 
--pinq-color :#ab2ae7;
--trans : all 0.3s ease-in-out;
} 
::-webkit-scrollbar{
    display: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
}
html{
     font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-family: var(--castoro);
    background-color: var(--dark-color);
    color: white;

}
ul{
    list-style: none;
}
img{

    width: 100%;
    display: block;

}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding:0 2rem;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    background-color: var(--dark-color);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 5px solid var(--bleu-color);
}
.navbar .container{
    justify-content: space-between;
}
/* logo*/
.navbar-brand{
    font-family: var(--audiowide);
    font-size: 4rem;
    color:var(--pinq-color)
}

.navbar-brand span{
    color: var(--bleu-color);
}


/*icon*/.search-form{
     display: none;
}
.navbar-toggler-open, .navbar-toggler-close{
    font-size: 2.8rem;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    transform: var(--trans);
}
.navbar-toggler-open:hover, .navbar-toggler-close:hover{
    opacity: 0.8;
    
}
.navbar-collapse{
    position: fixed;
    right :-345px;
    top: 0;
    width: 345px;
    background-color: var(--bleu-color);
    height: 100%;
    padding: 2rem 2rem 3rem;
    z-index: 999;
    transition: var(--trans);

}
.navbar-toggler-close{
    position: absolute;
    right: 2rem;
    top: 2rem;
}
.navbar-nav{
    margin-top: 5rem;
}
.nav-item{
    margin: 2.4rem;
    text-align: left;
    font-family: var(--archivo);
}
.nav-link{
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    transform: var(--trans);
    
}
.nav-link:hover  {
    color: var(--pinq-color);
}
.nav-item-dropdown{
    margin-left: 0.7rem;
    cursor: pointer;
    transform: var(--trans);
}
.nav-item-dropdown:hover{
    color: var(--pinq-color);
}

.nav-item-dropdown-content{
    max-height: 0;
    overflow: hidden;
}
.nav-item-dropdown-content li{
    margin-bottom: 1rem;

}
.nav-item-dropdown-content li a{
    margin-left: 30px;

    color: rgb(168, 153, 248);
    opacity: 0.8;
    letter-spacing: 1px;
    font-weight: 300;
    transition: var(--trans);
    
}
.nav-item-dropdown-content li a:hover{
    opacity: 1;
    color: rgb(253, 249, 249);
    text-shadow: 30px rgb(253, 249, 249);
   
}
/*nav item drop show class*/
.show-dropdown{
    max-height: 1000px;
    margin: 1rem 0;
}
.show-navbar{
    right: 0;
  
}
/* home*/

/*community login*/
.community * {
   
    box-sizing: border-box;
    
    
}
.community  body {
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    height: 100vh;
    overflow:  hidden;
    margin: 0;
    

}
.community-join{
    display: none;
}

.community-conection{
    background-color: #333;
    padding:20px 40px ;
    border-radius: 5px;
    margin-top: 20rem;
    margin-right: 50rem;
    margin-left: 50rem;
   
}
.community-conection h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: var(--audiowide);
    color: #ecd3f8;
}

.community-conection a{
    text-decoration: none;
    color: lightblue;
}
.Form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}
.Form-control input{
    background-color: transparent;
    border: 0;
    
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding:15px 0;
    font-size: 18px;
    color: rgb(228, 220, 220);
    font-family: var(--chango);

    
}
.form-textlog{
    color: #fff;
    
}
.Form-control label{
    font-family: var(--castoro);
    position: absolute;
    top: 15px;
    left: 0;
    
}
.Form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3 cubic-bezier(0.68,0.55,0.265,1.55);
}
.Form-control input:focus + label span,
.Form-control input:valid +label span{
    color: rgb(225, 220, 230);
    transform: translateY(-30px);

}


.Form-control input:focus ,.Form-control input:valid{
    outline:0;

}
.btnt{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #5c6bcc;
    padding: 15px;
    font-family: var(--audiowide);
    font-size: 18px;
    border: 0;
    border-radius: 5px;
}
.btnt:first{
    outline: 0
}
.btnt:active{
    transform: scale(0.98);
}
.text{
    margin-top: 30px;
    font-family: var(--chango);
}

/*community-verify*/
/**//**//**/
.community-conection p{
    font-family: var(--chango);
}
.community-conection label{
    font-family: var(--archivo);
}
.communty-hom{
    display: none;
}

.community-verify{
    
    background-color: #333;
    padding:20px 40px ;
    border-radius: 5px;
    margin-top: 16rem;
    margin-right: 50rem;
    margin-left: 50rem;
    border: 3px  var(--pinq-color) solid;
    padding: 100px;
    text-align: center;
    display: none;
    
}
.community-verify h3{
    
    text-align: center;
    margin-bottom: 30px;
    font-family: var(--audiowide);
    color: #ecd3f8;
}

.code-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.code{
    
    border-radius: 5px;
    font-size: 75px;
    height: 120px;
    width: 70px;
    border: 1px solid #333;
    margin: 1%;
    text-align: center;
    font-weight: 300;
    -moz-appearance: textfield;

}
.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.butt-inpprof input{
    background-color: #ab2ae7;
}
.push{
 
    margin-top: 10rem;
    margin-right: 50rem;
    margin-left: 50rem;

    padding: 100px;
    text-align: center;
   
}

.push .form-control{
    width: 400px;
    border: radius 5px; ;
}

.push input{
    
    background-color: #f6f1f8;
    padding: 1rem 0;
    color: var(--bleu-color);
    border-bottom: 2px solid var(--bleu-color);
    width: 400px;
    border-radius: 5px;

}
#emailps{
    color: var(--pinq-color);
}
.info{
    background-color: #eee;
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    max-width: 400px;
    color: #1a1919;
    border-radius: 5px 0px ;
}

/*profil*/
.profile{
    

    position: relative;
    top: 10%;
    left: 40%;
    justify-content: center;
    margin-left: 100px;
    padding:0 ;
    margin: 0;
    width: 180px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.mypic{
    
    margin-left: 2rem;
    
    width: 135px ;
    border-radius: 200px;
}


.profile h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    opacity: 85%;
    margin-top: 10px;
    margin-bottom: 10px;

}
.profile p{
    opacity: 85%;
    margin:0.45px;
    padding: 0;
}
.maine{
    margin-top:19rem ;
    position: relative;
    grid-column: span 2 ;
    display: flex;
    margin-right: 81%;
   
}
/*end profil*/
/*popilar*/
/* popular section */
.contenu-comunty{
   
}

/* footer */
#footer{
    background-color: #000;
    padding: 4rem 0;
    text-align: center;
    margin-top: 19rem;
}
#footer a{
    color: #fff;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
#footer a:hover{
    color: var(--pinq-color);
}
.footer-links-1 ul, .footer-links-2 ul{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.footer-links-1 {
    margin: 1.5rem 0;
}
.footer-links-1 h2{
    font-family: var(--audiowide)
}
.footer-links-1 ul li{
    margin: 1rem;
}
.footer-links-1 ul li a{
    font-size: 2.4rem;
}
.footer-links-2{
    margin-bottom: 2rem;
}
.footer-links-2 ul li{
    padding: 0 1rem;
    margin: 1rem 0;
    border-right: 1px solid #fff;
}
#footer .text{
    font-size: 1.3rem;
}
/*stcy*/

/**/
/* media qeries */
@media(min-width: 768px){
    
}
@media(min-width: 1200px){
    
}

@media(min-width: 992px ){
    .navbar-toggler-close ,.navbar-toggler-open{
        display:  none;
    }
    .navbar-collapse{
        width: 100%;
        right: 0;
        position: relative;
        background-color: transparent;
        padding: 0;
    }
    .navbar-nav{
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    .nav-item{
        position: relative;
        margin-top: 0 2.4rem 0 0;
    }
    .nav-item-dropdown-content{
        position: absolute;
        top: 100%;
        
        right: 0;
        background-color: var(--bleu-color);
        z-index: 10;
        border-radius: 1.5rem;
    }
    .nav-item-dropdown-content li a{
        opacity: 1;
    }
    .nav-item-dropdown-content li a:hover{
        opacity: 0.8;
    }
    /*nav item dropdown show class*/
    .show-dropdown{
        padding: 2rem;
    }
    
}
/*hom communty*/




.inputt-proff >h2 {
    font-family: var(--archivo);
    font-size: 3.4rem;
}

.py-3{
    padding: 3rem 0;
    margin-top: 10rem;
    margin-left: 2rem;

}
/* header */
#header{
    min-height: 100vh;
    background-color: #fff;
}
#header .container{
    padding: 3rem;
}
.search-block{
    flex-direction: column;
    padding-bottom: 1.8rem;
}
.search-block .form-control{
    border-radius: 2.4rem;
    height: 45px;
    width: 100%;
    border: 2px solid var(--light-gray);
    padding: 0 2rem;
    background-color: transparent;
}
.search-block .btn{
    border-radius: 2.4rem;
    background-color: var(--blue);
    color: #fff;
    height: 45px;
    width: 100%;
    margin: 1rem;
    transition: var(--trans);
}
.search-block .btn:hover{
    background-color: var(--light-orange);
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-links li{
    margin: 0 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: var(--trans);
}
.social-links li:hover{
    transform: translateY(-5px);
}
.social-links li:nth-child(1){
    background-color: #3b5998;
}
.social-links li:nth-child(2){
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    ;
}
.social-links li:nth-child(3){
    background-color: #00acee;
}

.social-links li:nth-child(4){
    background-color: #c8232c;
}
.social-links a{
    font-size: 2rem;
    color: #fff;
}

/* featured section */
.item{
    margin-bottom: 3rem;
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.1);
    border-radius: .4rem;
    overflow: hidden;
    transition: var(--trans);
    background-color: #fff;
}
.item:hover{
    box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.1);
}
.item-img{
    height: 380px;
    overflow: hidden;
    position: relative;
}
.item-info{
    padding: 2.6rem;
}
.item-img .category-name{
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: var(--light-orange);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 0.4rem 1.4rem;
    border-radius: .3rem;
}
.item-img img{
    object-fit: cover;
    height: 100%;
}
.item-info .post-title{
    font-family: var(--chango);
    margin: 1.4rem 0;
    color: #000;
}

.item-info .post-author-name{
    font-weight: 300;
    font-style: italic;
    font-family: var(--catamaran);
    opacity: 0.8;
    color: #000;
}
.item-info .published-date{
    color: #000;
    font-weight: 300;
    font-family: var(--catamaran);
    opacity: 0.8;
}
.item-info .post-btn{
    font-family: var(--audiowide);
    background-color: var(--pinq-color);
    color: #fff;
    display: inline-block;
    padding: .8rem 1rem;
    border-radius: .3rem;
    margin-top: 1.6rem;
    transition: var(--trans);
}
.item-info .post-btn:hover{
    background-color: var(--bleu-color);
    color: var(--dark-color);
}


.featured-item-list{
    position: relative;
}
.featured-item-list .item{
    color: #fff;
    margin-bottom: 1rem;
    width: 100%;
}

.featured-item-list .item-img{
    height: 80vh;
}

.featured-item-list .item-info{
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.featured-item-list .item-info a{
    margin-left: 1rem;
    margin-top: 0;
}




/* latest section */
.latest-item-list{
    margin-top: 50rem;
}
.latest{
    margin-top: 50rem;
}
.section-heading{
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid var(--light-gray);
}
.section-heading h2{
    font-family: var(--archivo);
    font-size: 3.4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.latest-item-list .category-name{
    background-color: var(--blue);
}
.latest-item-list .item-info{
    padding: 2.6rem;
}
.latest-item-list .item-info a{
    background: var(--blue);
    margin-top: 0;
}
/* popular section */


.popular{
    margin-right: 30px;
}
.post-author{
    margin-bottom: 1rem;
    justify-content: flex-start;
}
.post-author-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.popular-item-list .post-author-name{
    font-style: normal;
    margin: 0 2rem 0 1rem;
    font-weight: 500;
}
.popular-item-list:nth-child(2){
    padding-top: 3rem;
}
.popular-item-list:nth-child(2) .item{
    box-shadow: none;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    column-gap: 2rem;
    background-color: transparent;
}
.popular-item-list:nth-child(2) .item-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.popular-item-list:nth-child(2) .item-info{
    padding-top: 0;
    padding-bottom: 0;
}
.popular-item-list:nth-child(2) .post-title{
    margin-top: 0;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: var(--catamaran);
    display: block;
    transition: var(--trans);
}
.popular-item-list:nth-child(2) .post-title:hover{
    color: var(--light-orange);
}
.text{
    opacity: 0.8;
    line-height: 1.5;
    font-weight: 300;
    color: #000;
}

/* category section */
#categories .item{
    box-shadow: none;
    background-color: transparent;
}
.categories-item-list{
    padding: 3rem 0;
}
.categories-item-list .item-img{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: auto;
    position: relative;
}
.categories-item-list .item-img:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    transition: var(--trans);
}
.categories-item-list .item-img:hover::after{
    opacity: 0;
}
.categories-item-list .category-name{
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    font-size: 2.4rem;
}






/* media queries */
@media(min-width: 480px){
    /* header */
    .search-block{
        flex-direction: row;
    }
    .search-block .btn{
        max-width: 120px;
    }
    .search-block .form-control{
        max-width: 460px;
    }
    h3{
        font-size: 2.1rem;
    }
}


@media(min-width: 768px){
    #latest, .popular-item-list:nth-child(2){
        margin-bottom: -3rem;
    }
    .latest-item-list, .popular-item-list .item, .popular-item-list:nth-child(2), #footer .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .popular-item-list:nth-child(1) .post-title{
        margin-top: 0
    }
}

@media(min-width: 992px){
   
    /* header search block */
    #header .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-block{
        padding-bottom: 0;
    }
    
    /* latest section */
    .latest-item-list, .categories-item-list{
        grid-template-columns: repeat(3, 1fr);
    }
    /* popular section */
    .popular-item-list .item{
        grid-template-columns: 2fr 3fr;
    }
    

}

@media(min-width: 1200px){
    /* latest section */
    .latest-item-list{
        grid-template-columns: repeat(4, 1fr);
    }
    .latest-item-list .item-img{
        height: 200px;
    }
    /* popular section */
    .popular-item-list:nth-child(2){
        grid-template-columns: 1fr;
        padding-top: 3rem;
        padding-left: 3rem;
    }
    .popular-division{
        display: grid;
        grid-template-columns: auto 400px;
        column-gap: 3rem;
        align-items: flex-start;
    }
}


.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  }


